---
layout: default
title: Devsharing - Share code snippets, trips and tutorials from my experiences.
---

{% for post in site.posts%}
{% if post.categories[0] == 'news' % and paginator.page == 1 %}
<!-- Sticky notice -->
<div class="row">
    <div class="col-md-12">
        <div class="clean-panel">
            <div id="image-container">
                <a href="{{site.baseurl}}{{ post.url }}"><img class="blur" style="height: 400px;" src="{{ post.feature-image-url }}" alt="{{ post.feature-image-credit }}"/></a>  
            </div> 

            <div class="content">
                <a class="title" href="{{site.baseurl}}{{ post.url }}"><h1>{{ post.title }}</h1></a>

                <p>{{ post.summary }}</p>

                <div class="post-meta">
                    <a class="category"><i class="icon-bookmark"></i> {{ post.categories }}</a>
                    <a class="disqus" href="{{ site.baseurl}}{{ post.url }}#disqus_thread"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% assign article_num = 0 %}

{% for post in paginator.posts %}


    {% assign article_num = article_num | plus: 1 %}


{% if article_num == 1 %}
  <div class="row">
{% endif %}
    <div class="col-md-6">
        <div class="clean-panel">
            <div id="image-container">
                <a href="{{site.baseurl}}{{ post.url }}"><img class="blur" src="{{ post.feature-image-url }}" alt="{{ post.feature-image-credit }}"/></a>
                <p class="publish-date"><i class="icon-time"></i> {{ post.date | date: "%B %e, %Y" }} </p>
            </div> 

            <div class="content">
                <a class="title" href="{{site.baseurl}}{{ post.url }}"><h1>{{ post.title }}</h1></a>

                <div class="post-meta">
                    <a class="category"><i class="icon-bookmark"></i> {{ post.categories }}</a>
                    <a class="disqus" href="{{ site.baseurl }}{{ post.url }}#disqus_thread"></a>
                </div>
            </div>
        </div>
    </div>
{% if article_num == 2 %}
  </div>
{% endif %}


{% if article_num == 2 %}
  {% assign article_num = 0 %}
{% endif %}

{% endfor %} 

{% if article_num == 1 %}
  </div>
{% endif %}


<!-- Pagination -->
    <ul class="pagination pagination-centered col-md-12">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <li><a href="/">&laquo;</a></li>
            {% else %}
                <li><a href="/page{{ paginator.previous_page }}">&laquo;</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        
        {% if paginator.page == 1 %}
            <li><span class="active">1</span></li>
        {% else %}
            <li><a href="/">1</a></li>
        {% endif %}
        
        {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
                <li><span class="active">{{ count }}</span></li>
            {% else %}
                <li><a href="/page{{ count }}">{{ count }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
            <li><a href="/page{{ paginator.next_page }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>