<footer class="footer">
    <div class="container">
        <div class="row">
          <p>&copy; Devsharing 2012-2013</p>

          <p>
            <small>Hosted on <a href="https://pages.github.com" target="_blank">Github Pages</a>
               — Maintained by <a href="https://github.com/Phonbopit" target="_blank">Phonbopit</a>
            </small>
            <small class="pull-right">Last updated on Octobor 26, 2013 @Thailand</small>
          </p>
        </div>
        <!--{{ site.posts.first.date | date: "%H:%M %B %e, %Y" }}-->
    </div> <!-- /container -->
</footer>